# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/agent/main
cmd/agent/agent
cmd/server/main
cmd/server/server

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode
cmd/agent/log.txt
cmd/server/log.txt
log.txt
internal/logger/test.log
cmd/agent/agentlog.txt
cmd/server/serverlog.txt
agentlog.txt
serverlog.txt
test.sh
internal/app/test.log
internal/app/test.log
internal/clientmetrics/test.log
internal/clientmetrics/test.log
internal/clientmetrics/test.log
internal/MW/test.log
internal/clientmetrics/test.log
internal/app/agent/test.log
internal/app/agent/test.log
internal/clientmetrics/test.log
internal/app/agent/test.log
internal/app/agent/test.log
internal/clientmetrics/test.log
internal/app/agent/test.log
autotest.sh
agent.log
server.log
temp
internal/middleware/test.log
