<html>
<body>
    <h1>Gauge Metrics</h1>
    <ul>
    {{range $key, $value := .Gauge}}
        <li>{{$key}}: {{printf "%.6f" $value}}</li>
    {{end}}
    </ul>
    <h1>Counter Metrics</h1>
    <ul>
    {{range $key, $value := .Counter}}
        <li>{{$key}}: {{$value}}</li>
    {{end}}
    </ul>
</body>
</html>